body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Xanh Mono', monospace;    
    margin: 0 !important;
    padding: 0 !important;
}

#left {
    height: 100%;
    width: 30%;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow-y: scroll;
    text-align: left;
    font-size: 20px;
    color: white;
    background: blue; 
}

#leftcontent {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
        }

#right {
    height: 100%;
    width: 70%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    overflow-y: scroll;
    text-align: left;
    font-size: 20px;
    color: blue;
    background: white; 
}

#rightcontent {
    padding-left: 40px;
    padding-right: 40px;
        }

#left p {
    font-family: 'Roboto', monospace;
    font-size: 18px;
    line-height: 30px;
}

a {
    text-decoration: none;
}

#leftcontent a {
    color: lawngreen;
    text-decoration: none;
}

#right p {
    font-family: 'Roboto', monospace;
    font-size: 15px;
    line-height: 20px;
}

#rightcontent a {
    color: magenta;
}

#right a:hover {
    background-color: blue;
    color: white;
}

#left a:hover {
    background-color: white;
    color: blue;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-top: 120px;
    margin-bottom: 120px;
}

#aboutimg {
    position: absolute;
    top: 2%;
}

#reelimg {
    position: absolute;
    top: 20%;
}

#shortsimg {
    position: absolute;
    top: 35%;
}

#anafternoonimg {
    position: absolute;
    top: 60%;
}

#projectsimg {
    position: absolute;
    top: 80%;
}

/* videos */

.video {
    position: relative;
    padding-bottom: 56.26%;
    height: 0;
    overflow: hidden;
}

.video iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* project display */

.left {
    width: 45%;
    display: block;
    float: left;
    padding-right: 10%;
}

.right {
    width: 45%;
    display: block;
    float: left;
}

.proj, { /* individual project */
    margin: 0;
    overflow: hidden;
}

.proj img { /* thumbnail */
    width: 100%;
}


.proj a:hover {
    background-color: transparent;
    text-decoration: underline;
}

footer {
    text-align: center;
    font-size: 10px;
    margin-top: 11%;
    margin-bottom: .5%;
}

.lost { /* 404 page */
    margin-top: 20%;
    margin-bottom: 20%;
}





/* screen responsiveness */

@media screen and (max-width: 800px) {
    
    h5 {
        font-size: 1em;
    }
    
    h2 {
        font-size: 2.5em;
    }
    
    .wrapper {
        padding-top: 0px;
    }
    
    #index img {
        display: none;
    }
    
    #index a {
        color: #5356f5;
        height: auto;
    }

    #index a:hover {
        text-decoration: line-through;
    }

    #aboutimg, #reelimg, #shortsimg, #anafternoonimg, #projectsimg {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
    }
    
    .video iframe {
        display: block;
    }
    
    .colright {
        float: none;
    }
    
    .left {
        width: 100%;
        display: block;
    }

    .right {
        width: 100%;
        display: block;
    }
    
    .proj {
        margin-bottom: 100px;
    }
    
    #about {
        margin-left: 2%;
        margin-right: 2%;
        padding: 25px;
        line-height: 2.5em;
    }
}

@media screen and (max-width: 1200px) {
    
    #index img {
        max-width: 100px;
    }
    
    .colright {
        width: 10%;
    }
}

@media screen and (max-width: 1440px) {
    body {
        font-size: .5em;
    }
    
    #index img {
        max-width: 170px;
    }
}

@media screen and (max-width: 1680px) {
    
    body {
        font-size: 1.1em;
        line-height: 1.7em
    }
    
    .wrapper {
        margin: 4% 7% 0 7%;
        padding-bottom: 80px;
    }
    
    #index h1 {
        margin-left: -3%;
    }
    
    #index {
        margin-bottom: 20%;
    }
    
    #index p {
        font-size: 1em;
    }
    
    #index img {
        min-width: 130px;
    }
    
    .colright {
        width: 55%;
    }
    
    #about {
        margin-top: 20%;
        margin-bottom: 8%;
    }
    
    .proj {
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 1680px) {
    body {
        font-size: 1.7em;
    }
    
    #index img {
        min-width: 200px;
    }
    
    .wrapper {
        padding-bottom: 40px;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .colright {
        width: 60%;
    }
    
    .proj {
        margin-bottom: 200px;
    }
    
    .text {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.bio {
    margin: 2% 15% 2% 15%;
}

.bio p {
    line-height: 1em;
    text-align: left;
    font-size: .8em;
}

.bio h2 {
    padding-top: 3%;
    font-size: 1.2em;
}

.bio li {
    font-size: .8em;
}

.thumb {
    width: 100%;
}

.bio a {
    text-decoration: none;
    color: #5356f5;
}

.bio a:hover {
    background-color: #5356f5;
}

marquee {
    font-style: italic;
    color: #5356f5;
    font-size: .5em;
    padding-bottom: 15px;
}
h3 {
    font-size: .9em;
}

##left {
    
}
