body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Xanh Mono', monospace;    
}

#left {
    height: 100%;
    width: 30%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    overflow-y: scroll;
    text-align: left;
    font-size: 20px;
    color: white;
    background: blue; 
}

#leftcontent {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

#bioimg {    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%
}

#right {
    height: 100%;
    width: 70%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    overflow-y: scroll;
    text-align: left;
    font-size: 20px;
    color: blue;
    background: white; 
}

h1 {
    line-height: normal;
}

#rightcontent {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
}

.bio {
    font-family: 'Roboto', monospace;
    font-size: 18px;
    line-height: 30px;
    margin-left: 500px;
    margin-right: 500px;
}

.bio h1, h2 {
        font-family: 'Xanh Mono', monospace;    

}

#left p {
    font-family: 'Roboto', monospace;
    font-size: 18px;
    line-height: 30px;
}

a {
    text-decoration: none;
}

#leftcontent a {
    color: lawngreen;
    text-decoration: none;
}

#right p {
    font-family: 'Roboto', monospace;
    font-size: 15px;
    line-height: 20px;
}

#rightcontent a {
    color: magenta;
}

#right a:hover {
    background-color: blue;
    color: white;
}

#left a:hover {
    background-color: white;
    color: blue;
}


.center {
    display: block;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.project {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#aboutimg {
    position: absolute;
    top: 2%;
}

#reelimg {
    position: absolute;
    top: 20%;
}

#shortsimg {
    position: absolute;
    top: 35%;
}

#anafternoonimg {
    position: absolute;
    top: 60%;
}

#projectsimg {
    position: absolute;
    top: 80%;
}

.wrapper {
    padding-bottom: 40px;
}

/* videos */

.video {
    position: relative;
    padding-bottom: 56.26%;
    height: 0;
    overflow: hidden;
}

.video iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    margin-top: 9%;
    color: black;
    margin-bottom: .5%;
}

.lost { /* 404 page */
    margin-top: 20%;
    margin-bottom: 20%;
}
