/* PALETTE - - - - - - - - 

~CAMPFIRE~
dark blue: #003049
red: #D62828
orange: #F77F00
yellow: #FCBF49
light yellow: #EAE2B7

END OF PALETTE */

/* base */

body {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 2em;
    line-height: 1.4em;
    font-family: lucida console, monospace;
    font-size: 1em;
    background-color: #003049;
    color: #FF821C;
}

h1 {
    text-align: center;
    font-size: 1.7em;
    font-family: avenir, arial, sans-serif;
}

h6 {
    margin-left: 15em;
    
}

::selection {
  background: black;
  color: aliceblue;
}

a {
  color: #FCBF49;
    text-decoration: none;
}

a:hover {
    color: aliceblue;
    font-style: italic;
}

footer {
    font-size: .5em;
    position: absolute;
    padding-top: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

/* index display */

.display {
    min-width: 600px;
    max-width: 950px;
    margin-left: 42%;
    overflow: hidden;
}

.display img {
    float: left;
    padding: 20px;
    width: 120px;
}

.display nav { /* list navigation */
    position: fixed;
    min-width: 300px;
    max-width: 400px;
    left: 5%;
    top: 33%;
    border-style: dashed;
    border-width: .2em;
    padding: 1.5em 1.5em 1.5em 2em;
    border-color: aliceblue;
}

ul {
    list-style: square;
    padding-left: 20px;
    font-size: .9em;
}

h5 {
    font-style: italic;
}

/* trash */

#hidden {
    color: #003049;
    position: fixed;
    right: 5%;
    top: 80%;
    line-height: 1.4em;
    font-size: 4px;
}

:hover#hidden {
    color: greenyellow;
    font-style: normal;
}

/* snowpeople */

span {
    display:block;
   width: 0;
   height: 100%;
   margin: 0 auto;
    color: aliceblue;
    font-size: 2em;
}

/* game title */

#game :hover {
    text-decoration:line-through;
}

#game img {
    width: 350px;
    float: inherit;
}

#title {
     -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    font-size: 4em;
    color: aliceblue;
    font-style: italic; 
    line-height: 1em;
}

#title :hover {
    color: black !important;
}

/* resume */

#resume {
    color: #FCBF49;
    font-size: .9em;
    font-family: avenir, arial, sans-serif;
    margin-left: 17%;
    margin-right: 17%;
    position: absolute;
    line-height: 1.5em;
}

#resume b {
    color: #F77F00;
}

#resume a {
    color: #EAE2B7;
}

#resume a:hover {
    color: #F77F00;
}

h2 {
    float: right;
    text-decoration: underline;
    font-size: 2em;
}

#fixed, #fixed a { /* hand */
    position: fixed;
    left: 5%;
    top: 50%;
    color: aliceblue;
}

div {
    padding-top: 15px;
    padding-bottom: 15px;
}

#art ul {
    font-size: 1.2em;
    line-height: 2em;
}

/* art pages */

.art {
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    color: deeppink;
}

.figart { /* displaying images together */
    background-color: white;
    color: black;
    margin-left: 10%;
    margin-right: 5%;
}

.other {
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    color: blue;
    line-height: 1;
}

.other a {
    color: deeppink;
}

.figart img {
    max-height: 700px;
    max-width: 650px;
}

.art img {
    max-width: 700px;
    max-height: 800px;
    padding: 20px;
}



#fixedart, #fixedart a { /* hand on art pages */
    position: fixed;
    left: 5%;
    top: 50%;
    color: black;
}

#fixedart a:hover {
    color: orangered;
}

.lost img {
    width: 200px;
}
