/* COOL PALETTES - - - - - - - - 

~CAMPFIRE~
dark blue: #003049
red: #D62828
orange: #F77F00
yellow: #FCBF49
light yellow: #EAE2B7

END OF COOL PALETTES */

/* base */

body {
    font-family: courier, monospace;
    font-size: .9em;
    background-color: #003049;
    color: #F77F00;
}

::selection {
  background: black;
  color: white;
}

a {
  color: #FCBF49;
    text-decoration: none;
}

a:hover {
    color: #EAE2B7;
}

footer {
    font-size: .7em;
    font-style: italic;
}

sup { /* superscript */
    font-size: .4em;
}

sub { /* subscript */
    font-size: .4em;
}

/* UFO */


#UFO, #UFO a {
    position: fixed;
    bottom: 20%;
    right: 60%;
    font-size: .5em;
    color: #003049;
}

#UFO a:hover {
    color: springgreen;
}

.old a {
    color: #004150;
}

/* image displays */
    
.display { /* centered images */
    background: white;
    color: black;
    font-family: lucida console, monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 800px;
}

.display a {
    color: darkblue;
}

.display a:hover {
    color: orangered;
}

.display img {
    max-height: 850px;
    max-width: 750px;
    padding: 10px;
    margin-top: 10px;
}

.display figcaption {
    font-size: .8em;
    font-family: lucida console, monospace;
    width: 800px;
}

.display p {
    font-size: 3em;
    margin: 0;
    position: fixed;
    left: 100px;
    top: 340px;
}

.figdisplay { /* displaying images together */
    background-color: white;
    color: black;
    float: inline;
    margin: 10px;
}

.figdisplay img {
    max-height: 600px;
    max-width: 700px;
    padding: 10px;
    margin-top: 10px;
}

.figdisplay p {
    font-size: 3em;
    margin: 0px;
    padding: none;
}

.display span a { /* for hidden links */
    color: white;
}

.display span a:hover {
    color:gainsboro;
}

/* AND NOW FOR SPECIFIC PAGES */

/* the cluster */

.cluster {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}

/* navigation */

.nav {
    line-height: 2em;
    background-color: black; 
    margin: 20% 30% 2% 30%;
}

.nav ul {
    list-style: square;
        font-family: 'Roboto', monospace;

}

.nav a {
    color: white;
}

.nav a:hover {
    color: blue;
}

.nav h4 {
    color: #FCBF49;
    text-align: center;
}

.nav h4:hover {
    font-style: italic;
}

/* leftovers */

#leftovers {
    background-color: darkblue;
    color: deeppink;
    font-size: 1.5em;
    font-family: helvetica, sans-serif;
    margin-left: 20px;
    margin-top: 10px;
}

#leftovers a {
    color: deeppink;
}

#leftovers a:hover {
    color: orange;
}

#leftovers h6 {
    color:white;
}

#leftovers h6:hover {
    color:gray;
}

#text {
    background-color: lightcyan;
}

/* diary */

#entries, #entries ul {
    background-color: black;
    color: white;
    /*margin:  0 0 1%;*/
    font-size: 1em;
    list-style: none;
    line-height: 1.2em;
}

#entries a {
    color: white
}

#entries a:hover {
    color:blue;
}

#hidden { /* hidden link on diary page */
    font-size: 2em;
    line-height: 1.5em;
    position: fixed;
    top: 45%;
    left: 2%;
    text-align: center;
}

#hidden a {
    color: black;
}

#hidden a:hover {
    color: blue;
}



pre a {
    font-size: 1.2em;
}

#writing {
    line-height: 1.4em;
}

/* waste */

#waste {
    margin-left: 50px;
    width: 800px;
    background-color: #F77F00;
    color: darkblue;
}

#waste a {
    color: #D62828;
}

#waste a:hover {
    color:#FCBF49;
}

/* lists */

#lists {
    color: white;
    font-family: arial, sans-serif;
    line-height: 1.5em;
    width: 750px;
    margin-left: 50px;
    background: #FF5F6D; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FF5F6D , #FFC371); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FF5F6D , #FFC371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#lists h1 {
    color: lightcyan;
    font-family: 'GEOGRAM';
}

#lists a {
    color: #C0F5F7;
    font-style: oblique;
}

#lists a:hover {
    color: gold;
}

#listlist { /* list navigation */
    position: fixed;
    width: 300px;
    right: 100px;
    top: 30%;
    border-style: double;
    border-width: .5em;
    padding: 10px 30px 10px 30px;
    border-color: gold;
}

/* process home */

#process {
    font-family: Comic Sans Ms, sans-serif;
    font-size: 3em;
    margin: 5% 10% 1% 10%;
    background-image: url("process/clouds.jpg");
    color: powderblue;
}

#process a {
    color: powderblue;
}

#process a:hover {
    color: aquamarine;
}

