body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Lora', serif;
    background-color: black;
    color: whitesmoke;
    padding: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: whitesmoke;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

.screen {
    margin-left: 15%;
    margin-right: 15%;
}

.screen input[type=checkbox] {
  display: none
}

.screen img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transition: transform 0.3s ease;
    cursor: zoom-in;
    padding: 10px;
}

.screen input[type=checkbox]:checked~img {
  transform: scale(2);
  cursor: zoom-out
}


.text {
    margin: auto;
    margin-top: 15px;
    width: 500px;
    border: 1px solid whitesmoke;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
}

.textFixed {
    margin: auto;
    width: 500px;
    border: 1px solid whitesmoke;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    position: fixed;
    bottom: 15px;
    left: 0;
    right: 0;
    z-index: 99;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 20px;
    line-height: 32px;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 13px;
    line-height: 21px;
}

a {
    color: darkgray;
    text-decoration: none;
}

a:hover {
    background-color: whitesmoke;
    color: black;
}


details {
    color: whitesmoke;
    font-size: 13px;
    padding: 10px;

}

summary:hover {
    cursor: pointer;
    color: darkgray;
}

details > summary {
    list-style-type: '◑ ';
    font-family: 'Lora', serif;
}

details[open] > summary {
    list-style-type: '◒ ';
}

nav {
    margin: auto;
}

nav p {
    font-size: 10px;
    text-align: center;
}
.credits, .credits p {
    text-align: center;
    line-height: inherit;
}
