body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Lora', serif;
    background-color: black;
    color: whitesmoke;
    padding: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: whitesmoke;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

.screen {
    margin-left: 300px;
    margin-right: 300px;
    padding: 50px;
}

.screen input[type=checkbox] {
  display: none
}

.screen img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transition: transform 0.3s ease;
    cursor: zoom-in;
    padding: 10px;
}

.screen input[type=checkbox]:checked~img {
  transform: scale(1.2);
  cursor: zoom-out
}


.text {
    margin: auto;
    width: 25%;
    border: 1px solid whitesmoke;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

.textFixed {
    margin: auto;
    width: 25%;
    border: 1px solid whitesmoke;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 27px;
    line-height: 37px;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: darkgray;
    text-decoration: none;
}

a:hover {
    background-color: whitesmoke;
    color: black;
}


details {
    color: darkgray;
    font-size: 14px;
    padding: 10px;

}

summary {
    cursor: pointer;
}

details > summary {
    list-style-type: '◑ ';
    font-family: 'Lora', serif;
}

details[open] > summary {
    list-style-type: '◒ ';
}

nav {
    margin: auto;
}

nav p {
    font-size: 12px;
    text-align: center;
}