/* PALETTE

blue: #022870
dark blue: #000236
black: #000015
red: #E93B07
white: lavender

*/

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Lora', serif;
    background-color: #000015;
    color: lavender;
}

.container {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
}

* {
  box-sizing: border-box;
}

.title {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 35px;
    width: 80%;
    border: 1px solid lavender;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000015;
}

.text {
    width: 25%;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    border: 1px solid lavender;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.text img {
    width: 100%;
    padding-top: 10px;
}

nav {
    width: 100px;
    border: 1px solid lavender;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #000015;
    position: fixed;
    bottom: 15px;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
}

nav p {
    font-size: 10px;
    text-align: center;
}

.image img {
    max-width: 70%;
    padding: 15px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33333333333333333333333%;
    padding: 15px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.video {
    width: 70%;
    float: left;
    margin: auto;
    padding: 15px;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 20px;
    line-height: 32px;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 13px;
    line-height: 21px;
}

a {
    color: lavender;
    text-underline-offset: 4px;
}

a:hover {
    color: #E93B07;
}

details {
    color: lavender;
    font-size: 13px;
    padding: 10px;
}

summary:hover {
    cursor: pointer;
    color: #E93B07;
}

details > summary {
    list-style-type: '◑ ';
    font-family: 'Lora', serif;
}

details[open] > summary {
    list-style-type: '◒ ';
}

.credits, .credits p {
    text-align: center;
    line-height: 21px;
}

hr {
    border: 0;
    margin: 65px;
}