/* PALETTE 

PALE MAGENTA-PINK: #FF99C9
BRIGHT LAVENDER: #C792DF
PALE CERULEAN: #A2C7E5
ELECTRIC BLUE: #58FCEC

*/

body {
    margin: 30px;
    font-family: 'Molengo', verdana, arial, sans-serif;
    background-color: #FF99C9;
    color: mediumpurple;
		}

span {
    font-size: 5em;
    line-height: 1.3em;
		}

#text {
    position: absolute;
    top: 120px;
    left: 100px;
    right: 100px;
    bottom: auto;
}

.button-container {
    float: left;
    display: inline;
		}

.button-container-share {
    float: right;
    display: inline;
		}

.button, .button-share {
    font-family: 'Fugaz One', courier new, cursive;
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #58FCEC;
    color: deepskyblue;
    border-radius: 10px;
    transition-timing-function: linear;
    transition-duration:.15s;
		}

.button:hover, .button-share:hover {
    background-color: deepskyblue;
    color: #58FCEC;
    transition-timing-function: linear;
    transition-duration: .15s;
		}
		
.button-share:focus, .button:focus{ /* for eliminating outline around button */
    outline: none;
}

/* screen responsiveness */

@media screen and (max-width: 800px) {
    
    body {
        margin: 10px;
    }
    
    span {
        font-size: 3em;
    }
    
}