body {
    font-family: times new roman, serif;
    font-size: 4em;
    line-height: 1.4;
    background-color: #FDA389;
}

::selection {
  background: gray;
}

div {
    width: 700px;
    margin: 0 auto;
}

div, p {
    font-family: futura, helvetica, arial, sans-serif;
    font-size: 1.5em;
    color: salmon;
    text-align: center;
}



div a {
    text-decoration: none;
    color: salmon;
}

div a:hover {
    color:pink;
}

.list a:hover {
    color: aliceblue;
    font-style: oblique;
}

.list a {
    color: #FBD240;
}

.list ul {
    list-style: none;
    color: #013240;
}
